.body_background{
    background-image: url(bg1.jpg);
    background-position: center;
    background-size: cover;
}
img{
    width: 700px;
    height: 500px;
    border:  10px solid lightslategray;
}
body{
    text-align: center;
    margin-top: 70px;
}
h1{
    font-size: 30px;
    
}
